# Get the JupyterHub host. The host value should include the scheme (http or https)
# and should not include trailing forward slash (/).
JUPYTERHUB_HOST=http://localhost:8000

# Host should include scheme (http or https) and port, if other than 80 or 443.
KEYCLOAK_INTERNAL_HOST=http://keycloak:8080
KEYCLOAK_EXTERNAL_HOST=http://localhost:8080
KEYCLOAK_REALM=illumidesk

# Encrypt auth state when enabled. You can create one with openssl rand -hex 32.
JUPYTERHUB_CRYPT_KEY=my-secure-crypt-key

# Standard OAuth settings
OAUTH_CLIENT_ID=illumidesk-hub
OAUTH_CLIENT_SECRET=my-app-client-secret
OAUTH_CALLBACK_URL=${JUPYTERHUB_HOST}/hub/oauth_callback

# Standard OAuth2 settings
OAUTH2_AUTHORIZE_URL=${KEYCLOAK_EXTERNAL_HOST}/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/auth
OAUTH2_TOKEN_URL=${KEYCLOAK_INTERNAL_HOST}/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/token
OAUTH2_TLS_VERIFY=False

# GenericOAuthenticator settings
GENERICAUTH_LOGIN_SERVICE_NAME=Keycloak
GENERICAUTH_USERDATA_URL=${KEYCLOAK_INTERNAL_HOST}/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/userinfo
GENERICAUTH_USERDATA_METHOD=GET
GENERICAUTH_USERNAME_PARAMS_KEY=state
GENERICAUTH_USERNAME_PARAMS_VALUE=state
GENERICAUTH_USERNAME_KEY=preferred_username

# Keycloak Logout URL
KEYCLOAK_LOGOUT_URL=${KEYCLOAK_INTERNAL_HOST}/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/logout
